# (C) 2018-2025 by Christian Hesse <mail@eworm.de>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

[Unit]
Description=Forward syslog from network (udp/514) to journal

[Socket]
ListenDatagram=514

[Install]
WantedBy=sockets.target
