[Unit]
Description=Forward syslog from network (udp/514) to journal
Requires=systemd-journald.socket
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/udp514-journal
ProtectSystem=full
ProtectHome=on
PrivateDevices=on
NoNewPrivileges=on

[Install]
WantedBy=multi-user.target
