[Unit]
Description=Forward syslog from network (udp/514) to journal
Requires=systemd-journald.socket
After=network.target

[Service]
Type=notify
Restart=always
ExecStart=/usr/bin/udp514-journal
DynamicUser=on
AmbientCapabilities=CAP_NET_BIND_SERVICE
ProtectSystem=full
ProtectHome=on
PrivateDevices=on
NoNewPrivileges=on

[Install]
WantedBy=multi-user.target
